img{
	width: 100px;
}
.nav-item a:hover{
	color:black !important;
	background-color: teal;
}
*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('images/DEL.jpg');
	background-size: cover;
}
.txt{
	margin-top: 9%;
}
.col1{
	font-family: 'Lobster', cursive;
}
.txt ul li{
	list-style-type: square;
}
.txt .row .col1{
	margin-top: 12%;
}